.hero {
  position: relative;
  height: 80vh;
  color: white;
  object-fit: contain;
}

.hero__contents {
  margin-left: 30px;
  padding-top: 140px;
  padding-bottom: 100px;
}

.hero__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.hero__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 1.2rem;
  max-width: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}

.hero__buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.hero__button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  font-size: 1.1rem;
  border-radius: 4px;
}

.hero__button--white {
  background-color: white;
  color: black;
}

.hero__button--grey {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.hero--fadeBottom {
  height: 41.2vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }
  .hero__description {
    font-size: 1rem;
    width: 90%;
  }
}
